body {
    background-color: #ddd;
    margin: 0;
}

#topBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #eee;
    z-index: 10;
}

#homeButton {
    height: 42px;
    aspect-ratio: 1/1;
    margin: 4px;
    border-radius: 4px;
    border-style: none;
    background-image: url("assets/python.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#titleImage {
    display: block;
    width: 50%;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    align-items: start;
    position: relative;
    top: 50px;
    margin: 10px;
    margin-bottom: 200px;
}

.grid .lessonCell {
    height: 200px;
    width: 1fr;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.grid .lessonCell:hover {
    box-shadow: 0 0 8px #bbb;
    transition: box-shadow 0.2s ease;
}

.grid .title {
    width: calc(100% - 8px);
    padding: 4px;
    background-color: #f8f8f8;
    color: black;
    border-radius: 10px;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.grid a {
    text-decoration: none;
}

.grid .lessonCell p {
    margin: 8px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
}

.lesson {
    position: relative;
    display: block;
    justify-content: center;
    width: min(calc(100% - 40px), 600px);
    margin: auto;
    margin-bottom: 100px;
}

.lesson p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
}

.lesson li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
}

.lesson th, td {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
}
.lesson table {
    width: 100%;
    border-collapse: collapse;
}

.lesson #previousLesson {
    border-style: none;
    border-radius: 10px;
    background-color: rgb(46, 91, 238);
    font-size: 24px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.lesson #nextLesson {
    border-style: none;
    border-radius: 10px;
    background-color: rgb(46, 91, 238);
    font-size: 24px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.codeBlock {
    width: 100%;
}

.codeEditor {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.codeEditor #codeOutput {
    margin: auto;
    margin-top: 10px;
    height: 200px;
    font-size: 16px;
    background-color: #f7f7f7;
}

.codeEditor #runCode {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 2px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 3px;
    cursor: pointer;
    z-index: 10;
}

.CodeMirror {
    font-size: 16px;
}